{% extends 'base.html' %}


{% block navbar %}
        <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'patients:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'doctors:show' %}">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doctors:create' %}">Add New Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doctors:forms' %}">Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
    </li>
{% endblock navbar %}


    {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'patients:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a  href="{% url 'doctors:doctors_home' %}">Doctors</a></li>
        <li class="breadcrumb-item active"><a class="text-muted" href="#">Show Doctors</a></li>
    {% endblock breadcrumb %}

{% block content %}
    <h1 class="border border-primary m-5 p-5">Doctors</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Specialization</th>
        </tr>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor }}</td>
            <td>{{ doctor.age }}</td>
            <td>{{ doctor.Specialization }}</td>
            <td>
                <a href="{% url 'doctors:edit' doctor.id %}"><i class="fas fa-edit"></i></a> 
                <a href="{% url 'doctors:delete' doctor.id %}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                <a href="{% url 'doctors:showdetail' doctor.id %}" class="text-warning"><i class="fas fa-info-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
