{% extends 'base.html' %}

{% block title %}
    Boards
{% endblock title %}
    
    
    {% block breadcrumb %}
        <li class="breadcrumb-item avtive">Boards</li>
    {% endblock breadcrumb %}
        

    
{% block content %}
    <table class="table">
        
        <thead class="table-dark">
            <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
            </tr>
        </thead>
        
        <tbody>
    {% for board in boards%}
    <tr>
        <td><h4><a href="{% url 'boards_topics' board.name %}">{{board.name}}</a></h4>
            <small class="text-muted" >{{board.description}}</small></td>
        <td>{{board.get_posts_count}}</td>
        <td>{{board.topics.count}}</td>
        <td>
            
            {% with post=board.get_last_post%}
            
            {% if post %}
                By: {{post.created_by}} at: {{post.created_dt}}                
            {% else %}
            <small>No Posts</small>
            {% endif %}                
            {% endwith %}
                
        </td>
    </tr>
    {% endfor %}

        </tbody>
    </table>
{% endblock content %}