{% include 'layout/header.html' %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        Operation Faild
    </div>
    <hr>
    <div>
        <a href="{% url 'patients:home' %}" class="btn btn-primary">Go Home</a>
        <a href="{% url 'patients:create' %}" class="btn btn-primary">Add More</a>
    </div>
</div>
