{% extends 'base.html' %}
{% block content %}
    <h1 class="border border-primary m-5 p-5">Patients</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Report</th>
            <th>Actions</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.report }}</td>
            <td>
                <a href="{% url 'patients:edit' patient.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'patients:delete' patient.id %}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                <a href="{% url 'patients:showdetail' patient.id %}" class="text-warning"><i class="fas fa-info-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
