{% extends 'base.html' %}
{% block content %}
<h1 class="border border-primary m-5 p-5">Update Patients</h1>
<div class="m-5 border-primary">
    <form method="post" action="{% url 'patients:edit' patient.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" required name="fname" value="{{patient.first_name}}">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" required name="lname" value="{{patient.last_name}}">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationDefault05" class="form-label">Age</label>
            <input type="number" class="form-control" id="validationDefault05" required name="age" value="{{patient.age}}">
        </div>
        <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea" name="report">{{patient.report}}</textarea>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Medical Report</label>
            <input class="form-control" type="file" id="formFile" name="medicalreport" value="{{patient.file}}">
        </div>
        <div class="mb-3">
            <label for="formImage" class="form-label">Patient Image</label>
            <input class="form-control" type="file" id="formImage" name="image" value="{{patient.image}}">
        </div>
        <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
</div>
{% endblock %}
