{% extends 'base.html' %}

{% block navbar %}
    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'patients:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'patients:patients_home' %}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doctors:doctors_home' %}">Doctors</a>
                </li>
{% if request.user.is_staff %}
<li class="nav-item">
    <a class="nav-link" href="/admin/">Admin</a>
</li>
{% endif %}

{% endblock navbar %}


    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a class="text-muted" href="#">Home</a></li>
    {% endblock breadcrumb %}


{% block content %}
    
    {% if request.user.is_authenticated  %}
    <h1 class="border border-primary m-5 p-5">Welcome For You {{request.user}}</h1>
    {% else %}
    <h1 class="border border-primary m-5 p-5">Welcome For You Guest</h1>

    {% endif %}
        
{% endblock content %}
    