<h2>Welcome: {{name}} </h2>
<h2>Your Marks: {{marks}} </h2>
<h2>Your Marks on Each Subject: {{eachsub}} </h2>
<a href="{% url "home" %}">Back</a>
<ul>
    {% for student in students  %}
    <li>
        {{student.id}} -> {{student}}-Level:{{student.level}} - Gpa:{{student.gpa}} <a href="{% url 'edit_students' student.id%}">Edit</a> <a href="{% url 'delete_students' student.id%}">Delete</a>
    </li>   
    {% endfor %}

    <form method="get">
        {{myFilter.form}}
        <input type="submit" value="Search">
    </form>
</ul>