<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
</head>
<body>
    <h1>Employee Page</h1>
     <ul>
        <li><a href="{% url 'Show_Employees' %}">Show Employees</a></li>
        <li><a href="{% url 'Edit_Employees' %}">Eidt Employees</a></li>
        <li><a href="{% url 'Delete_Employee' %}">Eidt Employees</a></li>
    </ul>
    <a href="{% url 'Home' %}">Home</a>
</body>
</html>